[2019-01-20 23:33] dtolnay opened #1 "Query syntax and extractor for syntax tree elements"
For [`cargo expand`](https://github.com/dtolnay/cargo-expand) I need a library that can index into a [`syn::File`](https://docs.rs/syn/0.15/syn/struct.File.html) using a string-based query syntax. Roughly:

[code]

Let's consider the following `File` as input:

[code]

1. If I query for `"a::b::C"` then I should get back:

[code]

2. If I query for `"a::b::C::d::E"` I should get:

[code]

3. If I

[2019-01-20 23:45] dtolnay opened #2 "A dtd macro to generate struct definitions from an XML DTD file"
I would like to be able to write:

[code]

or possibly inline:

[code]

and have this expand to the right data structures to represent data of this form. In this case simply:

[code]

Then also generate a parser using any one of the XML libraries listed [here](https://github.com/RazrFalcon/roxmltree#alternatives) to deserialize the data structure from XML. Possibly like:

[code]

DTD references:
h

[2019-01-20 23:54] dtolnay opened #3 "Derive macros to serialize and deserialize struct as an array of values"
By default, Serde will serialize a struct to JSON as a JSON map like `{"s":"","i":0,"b":true}`. In some cases it can be preferable to serialize as a JSON array like `["",0,true]`. Serde serializes tuple structs like this, but then we lose the field names when working with the type in Rust code.

I would like there to be derive macros `Serialize_tuple` and `Deserialize_tuple` that let me write an o

[2019-01-21 00:02] dtolnay opened #4 "Derive macro to derive Default from Serde default attributes"
The following data structures accept any of the following JSON inputs when deserializing:

[code]

[code]

If there is an `"http"` entry but the `"address"` is missing, Serde will use the default address. If there is an `"http"` entry but the `"port"` is missing, we use the default port. If `"http"` is missing entirely, we use the Default impl of HttpConfig which comes with the default address and

[2019-01-21 00:10] dtolnay opened #5 "Find rustup components installed under a different toolchain"
In https://github.com/dtolnay/cargo-expand/issues/39 I need to look for any `rustfmt` that may be installed on the system.

Currently what happens is that if the user has `rustup component add rustfmt --toolchain stable` but is running `cargo +nightly expand`, then somehow Cargo sets up the subcommand environment such that simply running `Command::new("rustfmt")` will end up running a shim that on

[2019-01-21 00:20] dtolnay opened #6 "Library to inline out-of-line mod items and resolve #[path = "..."]"
In https://github.com/dtolnay/cargo-expand/issues/11 I need to be able to take a source file as a [`syn::File`](https://docs.rs/syn/0.15/syn/struct.File.html) and transitively expand every `mod m;` into `mod m { ... }` with its contents drawn from the right file.

Concretely we'll be replacing the [`content` field of every `ItemMod`](https://docs.rs/syn/0.15/syn/struct.ItemMod.html) with Some if i

[2019-01-21 00:27] dtolnay opened #7 "Serde format for in situ JSON deserialization"
Originally filed as https://github.com/serde-rs/json/issues/318, but since this will involve quite a bit more unsafe code than currently exists in serde_json I think it could be better to put in a separate crate. Much of the implementation can be drawn from serde_json.

The idea is to implement a function like:

[code]

backed by a Serde `Deserializer` that knows how to unescape JSON strings in pl

[2019-01-21 00:36] dtolnay opened #8 "Procedural macro reimplementation of `quote!` to resolve longstanding limitations"
Originally filed as https://github.com/dtolnay/quote/issues/82 but I would like this to begin its life as a separate library.

The current macro_rules-based quote macro has the limitation that duplicate interpolations inside of a repetition are not allowed. `quote! { #a #a }` works but `quote! { #(#a #a)* }` does not work. The reason boils down to macro_rules macros having no way to determine that

[2019-01-21 00:47] dtolnay opened #9 "Minimalist YAML parser with support for borrowed string slices"
In https://github.com/dtolnay/serde-yaml/issues/94 I would like to move serde-yaml off of [yaml-rust](https://github.com/chyh1990/yaml-rust) as a YAML backend and to a much simpler backend with support for a minimum viable subset of YAML syntax.

I think the minimal API for this would be:

[code]

The long tail of seldom used YAML features need not be supported. That means no tags, anchors, aliase

[2019-01-21 00:52] dtolnay opened #10 "Miniserde derive macro that supports enums"
The [Miniserde](https://github.com/dtolnay/miniserde) built in derive macros keep compile time down by only supporting structs. But for some use cases it is pretty important to be able to serialize and deserialize enums.

I would like a different crate to provide derive macros that implement Miniserde's traits for an enum.

[code]

[code]

The representation could be whichever of [Serde's enum rep

[2019-01-21 00:55] dtolnay opened #11 "Miniserde utilities library, like adapters for Display and FromStr"
Originally requested in https://github.com/dtolnay/miniserde/issues/3 but Miniserde is taking a minimal approach that does not leave room for shipping helpers like that in-crate.

The Display and FromStr adapters in that thread are a good start but also take a skim through [serde_aux](https://crates.io/crates/serde-aux) and [serde_with](https://crates.io/crates/serde_with) to see whether anything

[2019-01-21 00:57] dtolnay opened #12 "Minimal API for generating color scheme for a chart that needs n colors"
In [`cargo tally`](https://github.com/dtolnay/cargo-tally) I need to display a plot with some number of lines on it. I wish there were a crate where I could call:

[code]

and get back *n* different colors in a cohesive color scheme suitable for a chart.

[2019-01-21 01:02] dtolnay opened #13 "Attribute macro to make a trait boxed clonable"
The [`objekt`](https://github.com/dtolnay/objekt) crate provides a type-safe way to make trait objects clonable, but there are one too many steps involved.

- Use `objekt::Clone` instead of plain `Clone` in the supertrait list;
- Call `clone_trait_object!` macro.

[code]

Ideally this would be taken care of by an attribute macro in one step that expands to the two steps above.

[code]

The attribu

[2019-01-21 01:27] dtolnay opened #14 "Macro to serialize and deserialize trait object using internal type tag"
There is currently no simple way to make a boxed trait object deserializable via an internal tag that determines its concrete type. I would like to be able to express trait objects as:

[code]

The attribute macro would insert whatever supertraits and trait methods are necessary to make this work, probably using [`erased-serde`](https://github.com/dtolnay/erased-serde) for the object safety and [`

[2019-01-21 01:32] dtolnay opened #15 "Library to format and paginate tabular CLI output"
In [`cargo llvm-lines`](https://github.com/dtolnay/cargo-llvm-lines) the program output is a table with two columns of numbers and one column of strings. I would like a super easy way to make such output look good with the minimal amount of work in my crate. Something like:

[code]

which takes care of aligning the data (right aligned for columns of numbers, left aligned for text), drawing ASCII a

[2019-01-21 22:03] dtolnay opened #16 "Library for parsing function signature without parsing function body"
The [Syn](https://github.com/dtolnay/syn) crate has fairly coarse compile-time control over the set of available syntax tree types. There is `default-features = false` mode where only the parsing API is provided with no syntax tree types at all, there is `features = ["derive"]` which is the default and supports structs and enums, and there is `features = ["full"]` which supports all possible Rust

[2019-01-22 01:00] dtolnay opened #17 "Attribute macro to generate de/serialization functions for fields of big array type"
Like all of the standard library's traits, Serde's traits are limited to fixed size arrays up to an arbitrary maximum size. Serde defines Serialize and Deserialize impls for arrays up to size 32.

The current workaround for larger arrays in [`serde_big_array`](https://github.com/est31/serde-big-array) is workable but not ideal:

[code]

It would be nicer to have an attribute macro that makes big a

[2019-01-22 01:10] dtolnay opened #18 "Attribute macro to skip serializing all fields of Option type"
Some JSON workflows involve practically every piece of data being nullable and none of then being serialized when null. The Serde attributes in this situation can be verbose and distracting.

[code]

It would be better to have an attribute macro that finds all fields of type Option\<_\> and inserts a skip_serializing_if attribute.

[code]

Optionally consider supporting an attribute to annotate op

[2019-01-22 01:15] dtolnay opened #19 "Attribute macro to apply prefix to name of serialized fields or variants"
Some JSON protocols represent variant types using a common prefix. For example a network result may be transmitted as `"NetworkResult_Success"` / `"NetworkResult_Failure"`. In Rust we would like to represent such values as enum variants `NetworkResult::Success` and `NetworkResult::Failure`. This is possible with Serde rename attributes but somewhat verbose.

[code]

It would be nicer to have an at

[2019-01-22 01:58] dtolnay opened #20 "Cargo subcommand to perform pluggable expansions against rustdoc"
In the GitBook that backs https://serde.rs, I use [several GitBook plugins](https://github.com/serde-rs/serde-rs.github.io/blob/67d32d8af27e27f367438e25dc90dde6be10a660/book.json#L5), a few of which I wrote myself.

For example I have a plugin that lets me insert playground links into code blocks. Here is an invocation right from the homepage: [markdown (shown below)](https://raw.githubusercontent

[2019-01-22 02:36] dtolnay opened #21 "Library for writing const-compatible phantom types with explicit variance and autotrait behavior"
When writing data structures using unsafe code or otherwise unused type parameters, library authors often reach for PhantomData\<T\> without adequate consideration.

[code]

You might have missed it (as the standard library did too) that PhantomData\<T\> is not the right phantom type here. For the empty iterator the phantom type should be Send and Sync regardless of whether T is Send and Sync, as

[2019-01-22 19:16] RazrFalcon commented on #15
There is [prettytable-rs](https://crates.io/crates/prettytable-rs). But it's pretty simple.

[2019-01-22 19:17] Shadlock0133 commented on #12
Possible reference: https://github.com/medialab/iwanthue

[2019-01-22 19:18] RazrFalcon commented on #2
AFAIK, only [xmlparser](https://crates.io/crates/xmlparser) does support DTD, but only `ENTITY`. I can add other objects if someone wanted to implement this.

[2019-01-22 19:24] mathstuf commented on #2
I think following the pattern used in the [`graphql-client`](https://github.com/graphql-rust/graphql-client) would be great for this. Not so sure about the inline stuff. That'd be a very hairy macro implementation…

[2019-01-22 19:26] matklad opened #22 "Custom derive for deep_size_of"
It might be useful to understand how many bytes in memory a particular datastructure occupies.
If doesn't have any heap-allocated storage, figuring out the answer is easy: it's just `std::mem::size_of`.

However for data structures which include vectors, maps, boxes, etc, size_of will account only for (comparatively insignificant) stack part of the storage.

One approach to the problem is [servo/h

[2019-01-22 19:34] dtolnay commented on #22
Thanks! It sounds like this would be almost exactly like the heapsize / heapsize_derive crates except that their [`heap_size_of`](https://github.com/servo/heapsize/blob/32615cb931b4871b24f72114cca9faa8bca48399/src/lib.rs#L22-L59) helper would be replaced with a plain `mem::size_of` that does not require calling into jemalloc.

Do you know of any other differences that would be required compared to

[2019-01-22 19:40] matklad commented on #22
There are a couple of design options indeed!

It's not clear what is the best behavior for `Arc`s and `Rc`s (to avoid double-counting). One option is to thread a `Context` argument which would remember a set of visited pointers (thus making the derive a true DFS of a DAG, and not a plain tree traversal)

It might be fun to add a `Serialize -> DeepSizeOf` bridge: this hopefully gives at least somew

[2019-01-22 19:56] dtolnay commented on #22
Regarding the reference counted pointers, let's make that decision up front: for your use case would you prefer to have Arc and Rc accounted accurately at the expense of whatever performance it costs to maintain the context?

[2019-01-22 20:01] matklad commented on #22
I think accurate counts are much more valuable.

[2019-01-22 20:10] yory8 commented on #9
In python world there's [strictyaml](https://github.com/crdoconnor/strictyaml) with similar goal, if you want to check what elements are needed

[2019-01-22 21:11] novacrazy commented on #22
How about three methods for:

1. stack size (basically `mem::size_of`)
2. heap size for the *current structure* only
    * (capacity * size_of member type)
3. a recursive heap size that actively scans through all members for additional heap allocations. Expensive but accurate.

Unfortunately, although it’s a brilliant idea at first glance, a fake serializer wouldn’t be wholly sufficient. Flattened

[2019-01-22 21:37] matklad commented on #22
Hm, not sure: 3 shouldn't be significantly slower than 2 for any case, and it may be exponentially faster if there's many sharing. 1 seems redundant with `mem::size_of`.

Interesting idea! Will it always give an accurate count?

[2019-01-22 22:14] novacrazy commented on #22
I think 3 being slower is fine, like a "last resort" full scan operation to be as accurate as possible. That seems required if we can't hook into the allocator itself. 2 and 3 would be equivalent if there is no nesting, but 3 is required for nesting.

As for the accuracy of the reference counts, it's as accurate as [an atomic integer load](https://doc.rust-lang.org/std/sync/struct.Arc.html#method.

[2019-01-22 22:56] djmcgill commented on #21
Does [ghost](https://docs.rs/ghost/0.1.0/ghost/) suit these needs? It has support for all 3 variances and is zero sized. The only thing missing is support for `Send`/`Sync` control - it always inherits.

I did also mess around with a solution involving type aliases instead of macros: [](https://github.com/djmcgill/rich_phantoms/blob/master/src/lib.rs)
I implemented the tests as doc tests so I get

[2019-01-22 23:10] BartMassey commented on #12
For up to 64 colors, a suitable permutation of the old X11 RGB.txt "Crayola Crayon" colors is not a bad way to go. (If you need more than 64 distinct colors, results are likely to be sketchy anyhow.)

I tend to prefer a deterministic scheme with a predefined order rather than the randomization scheme specced in the IWantHue link above. That way the distribution can be hand-tuned. I have used @dtol

[2019-01-22 23:32] dtolnay commented on #21
Thanks for checking in. I think the ghost crate is distinct from this design. The point of ghost is making types that behave like PhantomData (possibly with modified variance) *but that are not PhantomData*. If a use case requires a phantom type that is not PhantomData (for example because they want to add trait impls or inherent methods, like in [`inventory::iter::<T>`](https://docs.rs/inventory/

[2019-01-22 23:44] dtolnay commented on #21
On second thought there is a lot to be said for keeping it simple -- I like that your implementation ends up being practically no code at all. That could be an advantage if you're interested in getting these into the standard library (as a private implementation detail for using in private fields of types in libcore and libstd).

[2019-01-23 00:44] inferiorhumanorgans commented on #12
What about something like [ColorBrewer](http://colorbrewer2.org)?

[2019-01-23 00:53] novacrazy commented on #22
I think we can only ever hope to count owned or partially owned data, so in that case only the size of the reference/pointer itself should be counted. References or pointers can use the stack, heap, or even other esoteric things, which are all presumably handled elsewhere.

A good example of this is with `Cow`, where the implementation would recursively count only the owned variant.

[2019-01-23 01:09] Aeledfyr commented on #22
It might be good to have two options (maybe a compile time feature), one for only counting owned data (`Vec`s, `Box`es, etc), and the other for attempting to count partially owned data (`Arc`s, `Rc`s, references).  In many cases knowing the size of things inside an `Arc` would still be useful, as long as you know that it might not be completely accurate.

On the implementation side, one way of han

[2019-01-23 03:32] Aeledfyr commented on #22
My current work is [here](https://github.com/Aeledfyr/deepsize), but I'm not sure if it's currently good enough to publish to crates.io / add to this list.  This is my first "real" crate, so if anyone has code style suggestions or other comments, please tell me.

[2019-01-23 04:02] TedDriggs commented on #4
Is the advantage of this over the reverse (hand-implementing `Default` and setting `serde(default)` at the struct level) that serde can then avoid creating the entire default struct if it only needs a couple fields?

[2019-01-23 04:31] dtolnay commented on #14
I am going to get started on this one myself.

[2019-01-23 05:17] Manishearth commented on #22
Honestly you could probably make jemalloc an optional dep of heapsize and just use that. Or fork it.

An interesting addition would be something that helps construct a nested tree representation for reporting.

[2019-01-23 06:13] BartMassey commented on #12
Interesting! It's got some great ideas in it. It's not obvious what algorithms etc it's using. It only goes up to 12 colors or so in the current implementation. It seems pretty tuned for maps.

I suspect one would have to figure out what's going on there, and then build a crate that incorporated that learning. It would be a great project.

[2019-01-23 09:34] veldsla commented on #12
About colorRamp? Sure: https://www.rdocumentation.org/packages/grDevices/versions/3.5.2/topics/colorRamp

[2019-01-23 09:34] novacrazy commented on #22
jemalloc isn't an option on some targets, most notably MSVC.

I may work on this myself soon. The idea of a fake serializer wouldn't work, but it inspired an idea of arbitrary "Counter" implementations to handle the different considerations described here, such as references. Perhaps even one that *does* use jemalloc on targets that support it.

Additionally, this absolutely needs a serde-like att

[2019-01-23 14:40] inferiorhumanorgans commented on #12
The canonical ColorBrewer implementation is written in JavaScript and available on github here: [axismaps/colorbrewer](https://github.com/axismaps/colorbrewer), however the implementation I'm familiar with comes with d3 (also JS).  It's very much map-centric as Dr. Brewer is a cartographer at Penn State.  The CMYK and RGB specs are available [here](http://www.personal.psu.edu/cab38/ColorBrewer/Col

[2019-01-23 15:37] kardeiz commented on #13
Thanks for putting this project together.

See here for my quick implementation (with example) of this: https://github.com/kardeiz/objekt-clonable.

Actually, it is so short I'll paste it below.

[code]

[2019-01-23 16:59] gsquire commented on #5
I think I can give this a spin but I wanted to ask a question. If the user has more than two toolchains installed and runs expand under nightly which does not have `rustfmt` but the other two toolchains do, does it matter which toolchain gets picked?

[2019-01-23 17:16] TedDriggs commented on #4
For reference, linking colin-kiegel/rust-derive-builder#117

[2019-01-23 18:08] dtolnay commented on #14
Implemented in https://github.com/dtolnay/typetag!

[2019-01-23 18:08] #14 closed

[2019-01-23 19:44] dtolnay commented on #5
I would go for whichever toolchain reports the highest rustc version number. For example the rustc versions might be:

- rustc 1.33.0-beta.3 (4df66ba86 2019-01-21)
- rustc 1.32.0 (9fda7c223 2019-01-16)

in which case (for my use case) I would prefer to use rustfmt from 1.33.0-beta.3.

[2019-01-23 22:13] dtolnay commented on #13
Thanks, this is terrific! Some comments, and then I'll check this item off the list:

- Generally it's better for macros to be deterministic so I would avoid the random number. Nondeterminism makes it harder to do correct incremental compilation and it interferes with anyone diffing `cargo expand` output before and after a change.

- I would like to avoid requiring the `objekt` dependency in the e

[2019-01-23 22:44] dtolnay commented on #13
Separately, I'm not all that happy with the "objekt" name. Go ahead and pick something better for your crate if you have ideas. Something straightforward like clone_trait::clonable could work, or maybe some simple memorable name.

[2019-01-23 22:55] kardeiz commented on #13
Thanks for the feedback!

I got rid of the `random`, though I am still doing the rename (by appending the trait ident to the crate name).

I had to `pub use objekt::__internal_clone_trait_object;` in the reexport crate to get the internal macro into scope.

I kind of like the name, but I'll think about the name also.

See https://github.com/kardeiz/objekt-clonable.

[2019-01-23 23:50] Aeledfyr commented on #22
Can someone read through my implementation to see if anything is obviously wrong?  I've finished up the basic implementation, and as far as I can tell it works in most cases.  I know that there are still some things to add, but it should work as a basic framework.

https://github.com/Aeledfyr/deepsize

Currently it has special cases for each type of allocated type, which makes it so that it doesn'

[2019-01-24 01:08] dtolnay commented on #13
Uh-oh, leaking the internal macro needs to be fixed in my crate. I hadn't updated it since 2018-style macro imports were stabilized. I published objekt 0.1.2 with the fix so that should no longer be needed. Please set your Cargo.toml to require `objekt = "0.1.2"`.

In the generated code I would skip the extern crate entirely and directly invoke `objekt_clonable::objekt::clone_trait_object!`.

[2019-01-24 01:14] gsquire commented on #5
I worked on a prototype for a little bit. I know it's rough around the edges but I think it does what you have outlined in this issue. The example runs and prints out some components that I had on my system.

Here is the repository: https://github.com/gsquire/toolchain_find

[2019-01-24 01:34] gsquire commented on #5
Sure, I'll see how that all goes and share the PR here when I think it's complete.

[2019-01-24 01:36] dtolnay commented on #13
Great. Please remove the dependency on rand and publish the crates to crates.io! Then I will add a link from the objekt readme and close out this issue.

[2019-01-24 02:15] kardeiz commented on #13
Done: https://crates.io/crates/objekt-clonable!

By the way, thanks so much for serde, syn, and quote; they are fantastic! I think it is equally awesome that you've put this project together and are helping mentor people.

[2019-01-24 02:37] dtolnay commented on #13
Added a link in the objekt readme! https://github.com/dtolnay/objekt/commit/f76af10143014365ec55c4cb8f77b86b5b6f45d1
Marked the idea as completed! https://github.com/dtolnay/request-for-implementation#procedural-macros

Nicely done.

[2019-01-24 02:37] #13 closed

[2019-01-24 02:39] TedDriggs commented on #4
I have a version of this mostly working, filed dtolnay/quote#95 to try and sort out some error span situations and then I'll put it up for review.

[2019-01-24 02:51] inferiorhumanorgans commented on #12
That said, how about some bikeshedding?  Is there interest in CMYK and HSV support as well?  16-bit RGB?

I'm thinking instead of a HexColor struct an enum like:

[code]

would be a good idea assuming ColorBrewer were the starting point as these are already defined.

And then maybe a trait that defines functions for each color space that take an argument indicating number of colors desired and ret

[2019-01-24 03:04] dtolnay commented on #2
FYI @chriskrycho

[2019-01-24 03:13] dtolnay commented on #15
Thanks, prettytable-rs looks pretty close to what I want. I like the subtle unicode line art that `bat` uses. Is that doable as a prettytable format?

<br>

<p align="center">
<img alt="bat screenshot" src="https://camo.githubusercontent.com/9d3d89364f2cc83ace8f29646a6236bc15ea1da0/68747470733a2f2f696d6775722e636f6d2f724773646e44652e706e67" width="75%">
</p>

[2019-01-24 03:17] dtolnay commented on #22
Let me know if you'd like any design changes @matklad. Once you're happy and the result is published to crates.io, we can close out this issue and cross this off the list. Thanks @Aeledfyr!

[2019-01-24 10:35] RazrFalcon commented on #15
I newer used it. I wanted to use it in `cargo-bloat`, but it doesn't support column width, which I need.

[2019-01-24 17:59] TedDriggs commented on #4
First draft is up: https://github.com/TedDriggs/serde_default

I really like the idea of declaring defaults at the field level so that proc-macro crates can fill in missing fields without creating an entire `Default::default()` instance. I maintain two libraries that would absolutely benefit from that: `derive_builder` and `darling`.

However, if multiple crates all require the same entry, then th

[2019-01-24 19:18] BrandtM commented on #12
Hey everyone.
I'm still new to Rust and this is my first published lib (though it's not on crates.io yet because I don't know if something this small should pollute their archives).
I am open to criticism and appreciate any feedback you can give a newbie like me.

I went through a few iterations on how to generate a random color palette but I'm not at all familiar with color science so I ran into

[2019-01-24 19:31] dtolnay commented on #12
Sweet! Would it be possible to add screenshots of color schemes of various sizes to the readme? It is hard to tell from the code what they might look like.

[2019-01-24 19:37] dtolnay commented on #12
Maybe also, if you're interested: add a little companion binary that pops up a window showing `n` lines or boxes with your color scheme (or writes out a png file if that is easier). If you stick a file with a `main` function into examples/preview.rs then Cargo will pick it up like this:

[code]

[2019-01-24 19:41] BrandtM commented on #12
Oh wow thanks.
I did actually test this before but I wasn't aware of this functionality.
Should be done in a couple of minutes.

[2019-01-24 19:50] dtolnay opened #24 "Wrapper to strip pseudo-JSON comments from an io::Read input stream"
Occasionally people ask for JSON deserialization with comments, without wanting to go all the way to [JSON5](https://json5.org/) or [Hjson](https://hjson.org/).

This doesn't belong in serde_json which is intended strictly for JSON as described by https://json.org/.

I would like to be able to write:

[code]

Roughly the API would be:

[code]

[2019-01-24 20:00] bolinfest commented on #24
Although I appreciate the proposed separation of concerns, you basically have to parse the JSON file twice, right? For example, to implement `StripComments`, you can't just look at each token in isolation because you might be inside of a string literal where `//` should be kept rather than discarded.

If `StripComments` has to do all the work of a JSON parser, then why not just make it a lenient J

[2019-01-24 20:12] BrandtM commented on #12
@dtolnay alright it's done.

[2019-01-24 20:13] dtolnay commented on #24
I don't think this is the case. The only relevant piece of state for the wrapper is whether it is inside of a string literal or not. There doesn't need to be any parsing of `{` `}` `[` `]`, or numbers, or not even escape sequences beyond `\\` and `\"`.

I think the amount of parsing dedicated to `"` and `\` will be less than the amount required to correctly handle `//` and `\n` and `/*` `*/`.

[2019-01-24 20:20] dtolnay commented on #12
Nicely done. Once you get it published to crates.io, I'll close out this issue and mark it off the list with a link to your crate.

For [cargo tally](https://github.com/dtolnay/cargo-tally) I might want some brighter colors that are easier to differentiate on a line graph, but we can sort that out on the issue tracker. Thanks!

Regarding the other folks' suggestions earlier in the thread, I would

[2019-01-24 20:21] bolinfest commented on #24
I guess that's true *if* the JSON is well-formed. If it isn't, I suspect yielding a proper parse error becomes trickier.

But also: what about the next logical feature, which is trailing commas? I consider it strongly tied to comments because if you don't support trailing commas and you have this:

[code]

and you comment a single line:

[code]

For JSON files that may be edited by hand where comm

[2019-01-24 20:37] bolinfest commented on #24
Sort of. For example: I would say that `[,]` should not be considered valid "JSON with comments." I think the heuristics you are proposing would rewrite that as `[ ]`, which would parse.

[2019-01-24 20:41] dtolnay commented on #24
Ah, good call. If it's simpler to fork serde_json and integrate these changes into the existing parsing code, I would go ahead with that.

[2019-01-24 21:10] bolinfest commented on #24
@dtolnay That sounds fair, thanks!

I discovered that there is also https://crates.io/crates/json5, but it depends on https://crates.io/crates/pest so it can use a PEG. I was trying to avoid additional dependencies, but perhaps I should give that a shot.

Also, https://crates.io/crates/json5 offers `from_str`, but not `from_reader`, which is one thing I really like about `serde_json`! Nice work wi

[2019-01-24 21:37] BartMassey commented on #12
This crate looks like a great start: a nice place to work on the API and color generation schemes. Thanks for taking the lead @BrandtM !

[2019-01-25 00:30] Aeledfyr commented on #22
Does anyone have preferences on which standard library types this is implemented for?  Also, how would I add integration for some of the dynamic storage crates (such as slotmap), without making it a dependency (only using the impl if the crate is already being used)?  I'm not sure if that can actually be done, or how it is normally handled.

[2019-01-25 00:47] gsquire commented on #5
I was able to successfully go through that test case and it worked as intended. Hopefully you can reproduce it as well. The PR is: https://github.com/dtolnay/cargo-expand/pull/45

[2019-01-25 03:50] BrandtM commented on #12
Thanks for your encouragement!
I had some minor troubles but nothing that I couldn't fix easily but now it's published to crates.io
https://crates.io/crates/colourado

[2019-01-25 04:45] #12 closed

[2019-01-25 09:18] dtolnay commented on #4
Thanks, nicely done! I will go ahead and close out this issue and mark it off the list, and we can follow up on any remaining work on your issue tracker.

Another advantage is in this sort of situation:

[code]

Here a handwritten `Default` would be many times more code.

What are your thoughts on the `#[derive(Default_serde)]` naming convention? `#[derive(SerdeDefault)]` looks wrong because there

[2019-01-25 09:18] #4 closed

[2019-01-25 09:40] dtolnay commented on #5
Nicely done. I will close out this issue and mark it off the list.

I filed https://github.com/gsquire/toolchain_find/issues/1 for one small follow up.

[2019-01-25 09:40] #5 closed

[2019-01-25 21:02] Goncalerta commented on #8
I created the repository [proc-quote](https://github.com/Goncalerta/proc-quote) in order to work on this new library.

[2019-01-27 16:51] djmcgill commented on #21
Here we go! https://crates.io/crates/rich-phantoms

[2019-01-27 18:47] dtolnay commented on #21
Looks good. I filed some follow-up issues but I am calling this done. Thanks!

[2019-01-27 18:47] #21 closed

[2019-01-27 20:15] Goncalerta commented on #8
Besides the already existent `#ident` and `#( #iter )*` patterns, I'm adding a new one in my crate: `#{ expr }`.

I created this because sometimes I feel the need to call a function or access an inner element of a struct inside `quote!`, which is not normally allowed. This means I'd need to create a new variable outside the macro just to use it inside.

With `#{ my_struct.inner }` or `#{ call_func

[2019-01-27 20:33] dtolnay commented on #8
I strongly prefer not to have that feature and I believe the library is worse off for providing it.

Some existing discussion in https://github.com/dtolnay/quote/pull/88 and numerous other threads on the quote repo.

[2019-01-27 20:57] Goncalerta commented on #8
I'm sorry, it was silly on my part not to check if this had been proposed before. It seemed such a simple and straightforward addition that I felt compelled to add it.

Thanks for pointing me to the existing discussion. I will remove this functionality from my crate.

[2019-01-27 21:15] dtolnay commented on #8
Thanks! To be clear, plenty of people think I am wrong on this.

Let me know once your existing TODO items are either implemented or have issues filed to track them, and the crate has been published to crates.io, and then we can close out this thread and mark it off the list. :)

[2019-01-28 21:36] TedDriggs commented on #1
I have something that passes tests 1 through 4 of the listed set. I have some questions that will impact the final behavior of the crate; even if I'm not the one to build it these will probably need answers.

1. In example 3, I'm treating types, methods, and constants all the same; if they're the immediate child of the trait then I include the parent trait when responding. Is this behavior accepta

[2019-01-28 21:55] dtolnay commented on #1
Nice! Thanks for looking at this.

- Yep, that sounds fine to me.

- I think so. You would end up with something like:

[code]

- Neither `_` or `..` is important to implement. I would happily use a library even without those, or with only one of them.

[2019-01-28 22:57] TedDriggs commented on #1
In that case I'll have something ready in the next couple days.

[2019-01-28 22:59] dtolnay commented on #1
Sweet! If you want, also send a PR to cargo-expand to depend on your implementation.

[2019-01-28 23:51] TedDriggs commented on #1
Are methods declared in intrinsic `impl` blocks relevant?

[2019-01-29 00:05] dtolnay commented on #1
Such as in the following, queried for `S::f`?

[code]

I could go either way. Will leave that up to your discretion. I don't want to give the impression that we are doing anything too intelligent with this filtering, as it is all purely syntax manipulation and not actually resolving anything. If instead of `struct S` the module contained `use other_crate::S`, some may find it strange that the func

[2019-01-29 00:47] TedDriggs commented on #1
@dtolnay that's a good point. I'll leave it out for now; we can always add it later.

[2019-01-29 02:02] TedDriggs commented on #1
https://github.com/TedDriggs/syn-select Wildcarding isn't implemented yet, but I'm planning to add single-term wildcards.

[2019-01-29 20:44] kardeiz commented on #3
I found this issue from https://github.com/serde-rs/serde/issues/637 while working on a JSONRPC related mechanism for deserializing a struct by name or position.

I've made a first attempt at this: https://github.com/kardeiz/serde_tuple, though it is still a little rough.

My implementation also lets you specify output position (e.g., if you want to change the order of values in the output array).

[2019-01-29 22:08] eddyb commented on #8
For the record, [this is implementation of the (unstable) `proc_macro::quote!`](https://github.com/rust-lang/rust/blob/74256630117fedf479edbd1145cac47c88036aec/src/libproc_macro/quote.rs).

It's very simple, but it could be used as a starting point for someone else.

However, it can't just be copied verbatim to a proc macro, as it uses the unstable `Span::def_site()` *and* it relies on a different

[2019-01-30 00:15] Goncalerta commented on #8
It is up! https://crates.io/crates/proc-quote

:)

[2019-01-30 01:48] dtolnay commented on #3
Thanks for taking a look at this. Some notes on your implementation:

- > My implementation also lets you specify output position (e.g., if you want to change the order of values in the output array).

    What is the use case for this that is not solved by reordering the struct fields, such as putting field baz before bar in your simple.rs example code?

- > It also offers a `DeserializeMaybeTupl

[2019-01-30 07:24] #8 closed, assigned to nobody

[2019-01-30 08:38] dtolnay commented on #1
Nicely done. I'll get this integrated into cargo-expand and follow up with issues in your issue tracker if needed. Thanks!

I marked the idea off the list with a link to your crate.

[2019-01-30 08:38] #1 closed

[2019-01-30 15:39] kardeiz commented on #3
Thanks for the comments!

I've never really thought about struct field position as meaningful, but that makes sense: the `position` attribute has to be in the struct definition, so you might as well go ahead and change the field order there.

I've been using `serde` for years, and I had no idea it would deserialize a tuple to a struct with named fields!

I've updated the names. I've also made ever

[2019-01-30 18:01] dtolnay commented on #3
Nicely done. Let me know once the crate is documented and published to crates.io and I'll close out this issue.

[2019-01-30 18:58] kardeiz commented on #3
Thanks! See https://crates.io/crates/serde_tuple.

[2019-01-30 19:36] dtolnay commented on #3
Fantastic. I marked off the idea in the readme with a link to your crate.

[2019-01-30 19:36] #3 closed

[2019-02-05 19:50] james-darkfox commented on #8
If proc-quote is slower than quote, we don't need proc-quote. We need to just fix quote. If the only thing blocking this is the incorrect assumption that `macro_rules` cannot filter out duplicates, here you go.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0bb9df8fd1d555d84c1720e66f8a044b

[code]

[2019-02-06 02:43] jakeschurch commented on #9
I think I would like to take a crack at this

[2019-02-07 04:04] TedDriggs commented on #19
This feels like it'd be better as a PR to serde; having it in the docs at serde.rs would make it more discoverable and protecting it under serde's duplicate field and other validations seems to be a friendlier API. would you be opposed to this coming in a PR there?

[2019-02-07 04:09] TedDriggs commented on #6
I'll take a look at this one.

[2019-02-07 15:55] Mingun commented on #19
Also then it is good to have `prefix` and `suffix` attribute for `flatten`:
[code]

[2019-02-07 16:02] dtolnay commented on #19
I would not accept this as a PR to Serde. I don't think this pattern is sufficiently ubiquitous to justify a new attribute in serde_derive.

An attribute macro that expands to rename attributes would have just as much validation.

[2019-02-07 16:16] Mingun commented on #3
It seems to me that use of `#[serde(untagged)]' attribute would be more natural way to do this:
[code]

[2019-02-11 16:58] TedDriggs commented on #6
Should this be done recursively?

How should not-found files be handled? They could be made into empty modules, or the top-line API could be changed to return a `Result`.

[2019-02-11 19:06] dtolnay commented on #6
Yes I would like it to be recursive.

For my use case I would want not-found modules to simply stay as `mod m;` and for the top-level API to be infallible. Performing this transformation 100% correctly requires more parts of a compiler (including name resolution and macro expansion), so since only an approximation is being implemented, there is no meaningful way that a caller could handle failures

[2019-02-11 21:59] TedDriggs commented on #6
https://github.com/TedDriggs/syn-inline-mod

[2019-02-13 18:06] TedDriggs commented on #6
Making it explicit: `syn-inline-mod` hits all the requirements from this one, so I think it's ready to close.

[2019-02-13 18:20] TedDriggs commented on #6
Found a couple bugs; filing them over in the crate repo.

[2019-02-13 18:36] dtolnay commented on #6
@dpc is https://docs.rs/syn-inline-mod sufficient for your use case or do you need it to be integrated into a cli?

[2019-02-13 21:51] dpc commented on #6
@dtolnay After I'll figure out how to convert it to string, and how to find entry points to a given crate, I'll be all set. :)

[2019-02-14 02:09] TedDriggs commented on #6
@dpc I've been calling `into_token_stream().to_string()` on the `syn::File` instance to get the results into a string.

[2019-02-14 02:20] dtolnay commented on #6
I don't know what is the best way to find out the crate entry point. This may be a Cargo feature request. The following might work for now:

[code]

[2019-02-14 03:08] dpc commented on #6
Thanks!

[2019-02-14 17:08] taiki-e commented on #16
I implemented this: https://github.com/taiki-e/syn-mid

[2019-02-14 18:08] dtolnay commented on #16
This seems bad. It makes the crate impossible to use correctly as a private dependency. Is there a way that you could do this differently?

The scenario to consider is:

- Crate A depends on proc macro crate B and proc macro crate C;
- Proc macro crate B depends on syn-mid 0.n;
- Proc macro crate C depends on syn with full feature.

To pull in B and C, crate A would need to add a dependency on the

[2019-02-14 18:32] dtolnay commented on #6
Added link in the readme. Nicely done!

[2019-02-14 18:32] #6 closed

[2019-02-15 06:35] taiki-e commented on #16
You are right. I encountered an error derived from this...
I decided to remove the "full" feature (taiki-e/syn-mid#1).

[2019-02-15 09:21] dtolnay commented on #16
Sounds good.

I would recommend minimizing further. You can remove PatBox, PatLit, PatMacro, PatRange, PatVerbatim, RangeLimits, QSelf, and the subpat field of PatIdent since none of those ever appear in a function signature. Also I would remove the clone-impls and extra-traits features. I would remove support for inner attributes since those are never used inside functions in real code.

[2019-02-15 12:56] taiki-e commented on #16
Thanks for the great feedback!

For clone-impls, it is `#[cfg_attr(feature = "clone-impls", derive(Clone))]` only, so I will leave this (but I will change it to "disabled by default").
And I will remove other items (taiki-e/syn-mid#2).

[2019-02-15 17:51] dtolnay commented on #16
Okay, clone-impls disabled by default is a good idea.

More things to remove:

- The expr_style setting of path parsing -- non-expr paths only appear in types and you are not parsing types.
- The ParseHelper trait -- those two functions can be free functions.

[2019-02-15 17:54] dtolnay commented on #16
- The `features = ["proc_macro"]` feature from your syn dependency -- since you are not using proc_macro::TokenStream.

[2019-02-15 18:37] dtolnay commented on #16
More to remove:

- The manual_extra_traits logic.
- The do_not_generate_to_tokens logic.
- The to_tokens_call macro; syn needs it only to conditionally omit code when building without full.
- The ast_enum macro.
- The code for printing inner attributes, since we don't parse those anymore.
- The FilterAttrs trait; I would write `tokens.append_all(&self.attrs)` directly in the ToTokens impl.
- The N

[2019-02-15 18:46] dtolnay commented on #16
Also since this is a new crate it should be fine to require a relatively new compiler version and reduce the clippy exclusions to `#![allow(clippy::large_enum_variant)]`.

[2019-02-16 11:10] taiki-e commented on #16
Thanks! I added these to the task list of taiki-e/syn-mid#2.

PatTuple is used in PatTupleStruct, so I will leave this.

Probably [fixed size array + `#![feature(slice_patterns)]`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=323845d74b1cb5bfd28922dc70d0c598).

That makes sense. I will bump the minimum required version to Rust 1.30 because `proc_macro_attribute` becomes

[2019-02-16 19:17] dtolnay commented on #16
It is, but nobody writes signatures like `fn f(TupleStruct(a, .., b): TupleStruct)` either. For a library that exists for the sole purpose of not compiling support for unneeded syntax, I would expect unused syntax to be cut out quite aggressively.

Unless you find an occurrence of this in real code, I would remove it.

[2019-02-17 15:41] taiki-e commented on #16
That makes sense.

I could not find it, so I will remove it.

[2019-02-17 16:20] taiki-e commented on #16
Cleanup was ended up, thank you for all your help!

[2019-02-17 18:24] dtolnay commented on #16
Nicely done. Once you publish to crates.io I will close out this issue.

[2019-02-17 19:04] taiki-e commented on #16
Done: https://crates.io/crates/syn-mid

[2019-02-17 19:06] dtolnay commented on #16
Thanks. I added a link to your crate in the readme.

[2019-02-17 19:06] #16 closed

[2019-02-17 21:02] dtolnay commented on #9
Just checking in -- any progress on this @jakeschurch? Is there anything you are stuck on?

[2019-02-17 21:40] dtolnay commented on #22
I filed some issues on your issue tracker and @matklad will do the same if they have feedback. I think we are ready to close out this issue. Thanks and nicely done!

[2019-02-17 21:40] #22 closed

[2019-02-17 23:09] jakeschurch commented on #9
Thanks for checking in @dtolnay -- so far things are going well - will def. Check in if I have any questions or problems

[2019-02-17 23:17] dtolnay opened #25 "Library to serialize and deserialize Syn syntax trees"
For a project, I would like to be able to manipulate Rust syntax trees from a different language. Rather than implementing a Rust parser in the other language, I would like to have Syn parse the code and share the parsed syntax tree as JSON.

This is similar to the use case for rustc's `rustc src/main.rs -Z ast-json` flag.

Consider an input file like the following:

[code]

<details>
<summary>rus

[2019-02-17 23:22] dtolnay commented on #9
Sounds good. I noticed that you forked serde-yaml and made some big changes to its Value type. I would recommend sticking to a 100% self contained `fn parse<'a>(input: &'a str) -> Result<Yaml<'a>>` instead -- serde_yaml::Value is a frontend type and shouldn't need to change at all when we later swap backends.

[2019-02-17 23:37] dtolnay opened #26 "Derive macro to compute Bincode size of type"
This would be helpful speeding up serialization/deserialization because we can preallocate correctly sized buffers independent of the concrete value being processed.

This would be its own derive macro:

[code]

together with a simple trait implemented by the macro:

[code]

Types containing variably sized data like a String or Vec would have a minimum size but no max size.

[2019-02-17 23:37] dtolnay commented on #26
FYI @jrmuizel

[2019-02-17 23:56] dtolnay opened #27 "Types for checked arithmetic on instants and durations"
The [`std::time::Instant`](https://doc.rust-lang.org/std/time/struct.Instant.html) and [`std::time::Duration`](https://doc.rust-lang.org/std/time/struct.Duration.html) types are quite tricky to use correctly for arithmetic because their arithmetic operators panic on overflow and their non-panicking methods are unergonomic.

Consider a use case drawn from [TURN_Hammer](https://github.com/vi/turnham

[2019-02-18 00:10] dtolnay opened #28 "Testing tool for comparing output of macro against expected source code"
Similar to what https://github.com/dtolnay/trybuild does for testing compilation failures.

See [here](https://github.com/dtolnay/serde-repr/blob/c0bdb4bc6290c678ae74125434af1b4deeb3871c/tests/compiletest.rs) and [here](https://github.com/dtolnay/serde-repr/tree/c0bdb4bc6290c678ae74125434af1b4deeb3871c/tests/ui) for a basic test setup leveraging trybuild.

I would expect a very similar setup for t

[2019-02-18 00:19] dtolnay commented on #28
This is better than invoking proc macros directly as `fn(TokenStream) -> TokenStream` from tests for a few reasons:

- It supports testing macro_rules macros as well.
- It does not require factoring testable code out of your `proc-macro = true` entry point crate solely for testing purposes. We can test the proc macro crate directly.
- The tool can provide a simple command which automatically updat

[2019-02-18 16:36] jrmuizel commented on #26
I started implementing this here: https://github.com/jrmuizel/bincode-size

It roughly works. One issue I've run into is calling associated methods on more complicated types.
Currently I'm just using `quote!(#ty :: method_name())`. This works for simple types but doesn't for types like `Option<u32>` where I need to turn it into `Option::<u32>::method_name()`. @dtolnay do you have a suggestion for

[2019-02-18 17:35] dtolnay commented on #26
Looks like you want `<#ty as bincode_maxsize::BincodeMaxSize>::bincode_max_size()`.

[2019-02-18 19:20] jrmuizel commented on #26
Yes. That works great. I've updated https://github.com/jrmuizel/bincode-size. It should be somewhat usable now. I'll test out using it in WebRender next.

[2019-02-18 19:44] dtolnay commented on #26
Nice. I'll close this out and we can follow up on your issue tracker as necessary.

[2019-02-18 19:44] #26 closed

[2019-02-18 19:52] jonhoo commented on #26
I wonder if support for this could be incorporated into upstream `bincode`?

[2019-02-18 20:00] dtolnay commented on #26
Yep, @jrmuizel originally suggested this in https://github.com/TyOverby/bincode/issues/263. The situation is that bincode is not being maintained right now so anything that may need iteration or involvement from a maintainer is better off in a different crate.

[2019-02-18 20:55] jakeschurch commented on #9
OK. Sounds like I need to read a little more into the code.

[2019-02-18 21:04] dtolnay commented on #9
Less into the code. :wink:

Nothing in serde_yaml is relevant to implementing this function.

[2019-02-19 13:06] taiki-e commented on #27
I ended up the basic implementation of this : https://github.com/taiki-e/easytime

(I would like to confirm that there is not much difference from what this issue aims.)

[2019-02-19 19:11] dtolnay commented on #27
Nice, looks good to me. I will close out this issue once your crate is published.

I filed https://github.com/taiki-e/easytime/issues/1 to consider adding example code.

[2019-02-19 23:31] taiki-e commented on #27
Thanks, done: https://crates.io/crates/easytime

[2019-02-19 23:44] dtolnay commented on #27
Excellent. I added a link to your crate from the readme.

[2019-02-19 23:44] #27 closed

[2019-02-20 22:21] jakeschurch commented on #9
Sorry! Just meant what parts of the code now hook up to yaml-rust so I can have the signatures in mind implementing the back-end

[2019-02-28 05:16] jakeschurch commented on #9
hey @dtolnay just wanted to let you know that I haven't gotten around to implementing this yet cause I'm super busy with work - whatever you want to do, let me know -- sorry to keep you waiting

[2019-03-10 10:31] taiki-e commented on #25
I started writing an implementation of this: https://github.com/taiki-e/serde-syn

[2019-03-10 10:35] taiki-e commented on #25
I think the output is still a little redundant.

[code]

[2019-03-17 17:25] dtolnay commented on #25
Thanks for working on this! This is terrific.

My first impression is that the public API is too large:

- It is pretty unlikely that someone would want to convert specifically a ForeignItemStatic (for example) to JSON as their top-level data structure. If possible, I would try to find a way to avoid exporting 200 public types.

    - You could start with just File, which is the only use case I kn

[2019-03-18 11:41] taiki-e commented on #25
Thanks for the feedback!

Indeed.

The first way is easier, but I'm interested in the second way. Does this probably require the following trait?

[code]

That makes sense. I opened https://github.com/taiki-e/serde-syn/pull/2 for remove these.

[2019-03-19 19:25] jonasbb commented on #18
I'm tackling this issue over at https://github.com/jonasbb/serde_with/pull/46

[2019-03-23 14:03] dtolnay commented on #25
Yep, that trait would work! The name `Syn` for the trait could also be a good name since it will be implemented for all of Syn's types.

If you feel adventurous, you could try using [syn.json](https://github.com/dtolnay/syn/blob/0.15.29/syn.json) and whatever we come up with for https://github.com/dtolnay/syn/issues/607 to generate most of the trait impls programmatically, leaving handwritten impl

[2019-03-30 12:21] taiki-e commented on #25
That's a good name!

I will try that! It would be very nice to me if can generate most of the trait implementations programmatically!

[2019-04-01 15:46] gfreezy commented on #15
https://github.com/phsym/prettytable-rs/blob/fa70ca6fdb7d0d98a04961c1a74105e4f797661d/examples/formatting.rs#L64

`prettytable-rs` can print `bat` like lines.

[2019-04-02 01:33] dtolnay commented on #15
Thanks all! I have removed this idea from my list since it is easily solved by using the `prettytable-rs` crate + `pager` crate which already existed when I opened this issue.

[2019-04-02 01:33] #15 closed

[2019-04-08 19:53] dtolnay opened #29 "Tool to enforce that Cargo.toml dependencies are written in sorted order"
[code]

Large projects tend to like for things to stay sorted to cut down the occurrence of merge conflicts between two developers appending to the end of the same unsorted list in parallel changes. Similar idea behind the [remain](https://github.com/dtolnay/remain) crate.

The command should parse a Cargo.toml and validate that particular pieces are sorted, exiting 0 if all sorted and nonzero oth

[2019-04-10 03:29] jpoles1 commented on #29
I'm somewhat new to Rust, but I'd like to try to take a stab at this one as a way to learn some more!

[2019-04-10 06:41] dtolnay commented on #29
Yay! Let me know how it goes or if you get stuck on any part.

[2019-04-10 11:09] jpoles1 commented on #29
Thanks @dtolnay! Will keep you updated as the project progresses.

[2019-04-12 04:06] jpoles1 commented on #29
Still working on some of the basic functionality, and I've gotta write tests for everything, but I've got a prototype up and running at this repo: https://github.com/jpoles1/cargo-dep-sort

As a note, I had originally wanted to use the [TOML crate](https://crates.io/crates/toml), but as far as I can tell, parsing with this library does not respect the order of the TOML tables, and as such is not s

[2019-04-12 05:02] dtolnay commented on #29
You will need to use the toml crate. Regex are not a reliable way to interpret a TOML file. The preserve_order feature is neither experimental nor requires nightly. You can turn it on as:

[code]

[2019-04-13 00:21] jpoles1 commented on #29
Ok, will give that try, thanks for the guidance!

[2019-04-17 01:53] jpoles1 commented on #29
Nothing perfect, but I've got the basic functionality up and running using the toml crate. My big concern right now is writing tests.

One other thing I'm having some trouble with is a feature to write sorted Cargo.toml files out of the software. The big issue is that the serialization features of the toml crate are limited, such that you can't use inline tables (like the toml dep line you suggest

[2019-05-13 01:58] pickfire commented on #9
@dtolnay I believe it would be nice to support the additional feature using feature gates. I will be trying this as it is a blocker for me to implement yaml2json.

[2019-05-13 03:39] pickfire commented on #29
Should this be in clippy instead?

[2019-05-16 18:07] polybuildr commented on #29
In case it helps, in https://github.com/rust-lang/rust/issues/57443#issuecomment-476892723 I came across the [toml_edit crate](https://crates.io/crates/toml_edit/) (a format preserving TOML parser that [cargo-edit](https://crates.io/crates/cargo-edit) uses). It has some issues but works well overall.

[2019-05-17 06:29] lgarczyn opened #30 "Tool to streamline running public crate examples"
A large part of trying out new libraries (say rust-sdl2) is to clone them from their github page, and calling `cargo --example` on one of the listed examples.

It implies opening a browser, cloning, different folders, etc. All in all, it's a lot of work to do things that cargo knows how to do.

A cargo plugin (and maybe a feature later on) allowing to run `cargo example rust-sdl2 example-n1` that

[2019-05-18 00:53] est31 commented on #17
Doesn't this require `proc_macro_hygiene`? So this is not available on the stable language, is it?

[2019-05-18 04:22] dtolnay commented on #17
I don't think it would require proc_macro_hygiene -- why? Attribute macros on structs have been stable since 1.30.0.

[2019-05-18 05:19] est31 commented on #17
Oh I see. Thanks for clarifying that. It's a bit of a tricky situation with some things still unstable but some things being stabilized. One could work with that I guess.

[2019-06-01 22:54] gsquire commented on #29
I decided to give this a go and published an initial version [here](https://github.com/gsquire/toml-sorted). I will add some unit tests soon and ensure that it works as expected. Please file issues if you find any!

[2019-06-12 14:57] pickfire commented on #9
I added my implementation in https://github.com/pickfire/mini-yaml, very experimental. Currently can pass certain flow scalar, flow/block sequence, flow mapping, block implicit mapping. Still figuring out how to parse implicit flow mapping and maybe later need to check the spec again or see ways to improve.

[2019-06-12 17:16] dtolnay commented on #9
Nice, looks like this is on the right track. When you wrap up the initial set of features it would be good to write a tool to programmatically partition the [yaml-test-suite](https://github.com/yaml/yaml-test-suite) based on ones that are supported by your library and ones that are not supported, and check those into your repo as two separate directories. That will make it easy to scan through and

[2019-06-14 01:19] pickfire commented on #9
@dtolnay Thanks a lot for sharing that link. By the way, do you think I should implement it in a function way instead of using an iterator like what yaml-rust does? Maybe it might help in streaming serialization/deserialization?

[2019-06-14 06:04] dtolnay commented on #9
I recommend not doing stream style. Stream support would be important for a lossy deserializer, for example one that deserializes `1.00` as an f64 by default. Like if the input document is:

[code]

then a non-streaming lossy deserializer interpreting this as `yaml::Map(map! { yaml::String("n") => yaml::Number(1.0f64) })` would be problematic because the caller may ultimately need the data as `str

[2019-06-14 08:23] jonathan-s commented on #18
Looks like this feature is completed, no?

[2019-06-17 22:08] Warfields commented on #18
???

[2019-06-18 05:27] DrSensor commented on #18
I think this already shipped in the current crate `serde_with`. I've used it and it works as expected. The only thing missing is the documentation 🤔

[2019-06-19 12:48] jonathan-s commented on #19
@dtolnay I'm currently looking at this. I was thinking of creating the `#[serde(rename = "prefix_fieldname")]` attributes using `quote! {}` and then inserting those in the AST tree. Right now I'm a bit stuck as it doesn't seem possible to create a new [`Attribute`](https://docs.rs/syn/0.15.36/syn/struct.Attribute.html) which I would then insert.

Do you have any suggestions?

[2019-06-19 18:06] dtolnay commented on #19
I would recommend using parse_quote to make attributes:
https://docs.rs/syn/0.15/syn/macro.parse_quote.html

[2019-06-19 18:21] #18 closed

[2019-06-19 20:46] jonathan-s commented on #19
Thanks! That got me on the right track!

On Wed 19. Jun 2019 at 20:06, David Tolnay <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-06-20 13:04] jonathan-s commented on #19
@dtolnay I've got a repo up now https://github.com/jonathan-s/serde_prefix I would be very grateful if you had a look at it. I still need to add some documentation for how it should be used.

But in short `#[prefix_all("test_")]` can be used for structs and enums to rename attributes. Inside the box it uses `#[serde(rename = "test_attributeName")]`.

[2019-06-21 18:12] dtolnay commented on #29
Thanks @gsquire! I wasn't able to get it working (https://github.com/gsquire/toml-sorted/issues/2) but once that works I'll close out this issue.

[2019-06-22 02:50] #19 closed

[2019-06-22 02:59] dtolnay commented on #19
Fantastic!

I would be interested in someone experimenting with what serde_derive could do to integrate these sorts of extensions ([skip_serializing_none](https://docs.rs/serde_with_macros/1.0.1/serde_with_macros/attr.skip_serializing_none.html) is another one) more nicely. For example you could imagine that serde_derive could apply this transformation:

[code]

Or somewhat more cleverly:

[code]

[2019-06-22 04:06] dtolnay commented on #25
Here is a programmatic description of the Syn syntax tree that could be useful for generating a lot of the serialization/deserialization library:
https://docs.rs/syn-codegen

[2019-06-23 11:56] DevinR528 commented on #29
I added some to @jpoles1, implementation wondering if I'm moving in the right direction https://github.com/DevinR528/cargo-dep-sort. Rewriting the file is the idea correct? Having it work like cargo itself, by assuming everything from cwd, is probably the most erganomic?

[2019-06-23 17:56] dtolnay commented on #29
In my case I wouldn't want it rewriting the file, just a reliable 0 or 1 exit code and consideration for common patterns like out-of-line dependency sections (syn in [cargo-expand/Cargo.toml](https://github.com/dtolnay/cargo-expand/blob/0.4.12/Cargo.toml)).

[2019-06-23 19:53] DevinR528 commented on #29
So fail if:
[code]

[2019-06-23 19:56] dtolnay commented on #29
Yes I would want that to exit nonzero. The out-of-line dependencies should need to be sorted among themselves.

[2019-06-23 21:02] Zykino commented on #29
Maybe it is not your use case but having an option to override the file could be nice. Or at least write the correct order somewhere: console/file.

[2019-06-24 12:34] DevinR528 commented on #29
Here's my crack at sort checking cargo.toml you can install it ```bash cargo install cargo-sort-ck```. I'm glad I found this repo any excuse to write some rust is a good one thanks @dtolnay.  @Zykino I also started adding that feature to https://github.com/DevinR528/cargo-dep-sort cloned from @jpoles1.

[2019-06-25 09:26] jonathan-s commented on #19
@dtolnay Would the `#[serde(prefix-macro-here)]` macro need to be defined in the serde crate first? Or is there a functionality like that already?

[2019-06-25 10:15] jonathan-s commented on #19
And to answer my own question, it looks like it would need to be defined here: https://github.com/serde-rs/serde/blob/master/serde_derive/src/internals/attr.rs when implementing the container struct in the from_ast method, if I am correct.

[2019-06-25 14:25] jonathan-s commented on #19
Another question, should `prefix::all` be considered meta? If that's the case we would need to change the syn crate as well.

[2019-06-27 14:50] Eh2406 opened #34 "A crate to handle Windows' "exotic" paths"
Std path does some weird things with UNC paths (`\\?\`). For one [std::fs::canonicalize](https://doc.rust-lang.org/std/fs/fn.canonicalize.html) always returns one whether it is needed or not.  Then `path.join` will just do a string concatenation leading to invalid paths. This leads to bugs in many important parts of the ecosystem. ([Cargo](https://github.com/rust-lang/cargo/issues/6198), [wasm-pac

[2019-06-27 16:52] dtolnay commented on #34
Is this something that could be fixed in fs::canonicalize and Path::join? If not, is that because of backward compatibility restrictions or because the current behavior is useful and worth keeping? If the latter, how would the spec for this new library's canonicalize and join functionality be different from what std canonicalize and join claim to do?

[2019-06-27 18:41] Eh2406 commented on #34
So @retep998 knows this better than I.

My impression is that the `fs::canonicalize` is locked by backward compatibility and adding an alternative like `fs::normalize` is blocked on the lib team being sure it is a good design (https://github.com/rust-lang/rust/issues/59117) The impression is that a crate could iterate and suggest uplift when polished.

My impression is that the `std::Path::join` a

[2019-06-27 19:00] dtolnay commented on #34
Thanks, makes sense. Would something like the following API be sufficient for what Cargo needs? :

[code]

[2019-06-27 19:25] Eh2406 commented on #34
Yes! Or freestanding functions:

[code]

[2019-06-27 21:35] retep998 commented on #34
`fs::canonicalize` is not broken, but rather it does a fundamentally different operation than what `fs::normalize` would do. One is asking the OS for the *canonical* path to a file that actually exists, the other is just turning a relative path into an absolute path.

[2019-06-30 01:40] tmccombs commented on #24
I put together a simple crate for this: https://crates.io/crates/json_comments

[2019-06-30 17:51] #24 closed

[2019-06-30 17:53] dtolnay commented on #24
Thanks @tmccombs, this is terrific!

I filed several issues to follow up on the API and documentation.

[2019-07-01 03:39] DevinR528 commented on #29
[cargo-sort-ck](https://github.com/DevinR528/cargo-sort-ck) now has a toml tokenizer, as such can handle comments, nested headers, out of group nested headers and each "token" impls display so printing to a file would be as easy as .to_string().

[2019-07-01 16:22] bolinfest commented on #24
Oh, perhaps I should have mentioned that I did end up making that fork:

https://github.com/bolinfest/serde-jsonrc

As explained in the README, it supports `//` and `/*` style comments as well as trailing commas.

[2019-07-05 18:36] BrandtM commented on #30
I'm gonna give this one a shot.

[2019-07-05 18:43] dtolnay commented on #30
Nice! Thanks. Drop a link to your repository here once you start putting code up, even if it's not ready to use.

[2019-07-05 20:39] BrandtM commented on #30
Alright I've got the repo setup with some *very basic* functionality: https://github.com/BrandtM/cargo-example
For now it only uses the name of the crate you supply to clone its git repository to your CARGO_HOME/.cargo-example directory. It'll need a lot of work and I already have a bunch of ideas to make it really cool but I think the biggest roadblock will be crates.io itself.
For now you'll nee

[2019-07-06 12:24] DevinR528 commented on #29
[cargo-sort-ck](https://github.com/DevinR528/cargo-sort-ck) is finished, other than bug fixes.  Any feed back would be much appreciated, working alone can create a real echo chamber.

Thanks

[2019-07-06 17:29] #29 closed

[2019-07-06 17:32] dtolnay commented on #29
Thanks @DevinR528! This is terrific. I filed some issues for you but I am really impressed by your crate.

[2019-07-18 23:03] jsgf opened #38 "A library+tool to get all source files for a crate"
It would he useful to have a library which can produce a list of all source files used to build a crate. Currently this can be done with `rustc --emit dep-info`, but that requires a full build, including all dependencies to have already been built. I'm thinking of a tool which can be applied in isolation to any top-level source file, much like rustfmt can be.

 Given a top-level module source file

[2019-07-19 03:15] BrandtM commented on #30
Just to give you guys a quick update: The repo is still very much WIP but it's now usable in a state where I felt comfortable publishing it on crates.io
There's still a long road ahead but at least it's not in a totally broken development stage anymore!

[2019-07-19 03:39] dtolnay commented on #30
Nice, that's terrific. I am confused by the readme (https://github.com/BrandtM/cargo-example/issues/2) but it looks like great progress! I'll let @lgarczyn make the call as to when this solves what they were looking for, and then we can close out this issue.

[2019-07-21 11:39] lgarczyn commented on #30
I haven't had to time to try it out yet, but I'll do that as soon as I can

[2019-08-06 07:57] crlf0710 opened #39 "A crate to inline all modules into a single file."
A crate maybe called cargo-fuse, that can read all modules within a crate, and "fuse" them into a single `.rs` file. It'll be great if it can also generate the header describing the dependencies, something existing tools like `cargo-script` needs.

[2019-08-06 10:30] frol commented on #39
There are already at least three such projects:

* https://github.com/slava-sh/rust-bundler
* https://github.com/lpenz/rust-sourcebundler
* https://github.com/MarcosCosmos/cg-rust-bundler

Though, none of them are maintained anymore as far as I see.

[2019-08-06 15:18] crlf0710 opened #40 "A xsd macro that generate struct definitions from an XML XSD file"
Just like #2, but for XSDs.
Can be useful in generating building blocks for crates handling OOXML or other complex xml formats.

[2019-08-16 17:16] crlf0710 opened #41 "A proc macro that automatically generates a sync version for an async function."
Thus workaround the "what color is your function" problem.

[2019-09-15 15:22] pickfire commented on #9
@dtolnay Looks a lot harder than I think, I probably will not be continuing the project.

If anyone is interested can take a look at https://github.com/pickfire/mini-yaml, the implementation is a bit bad but the main issue is support for implicit block mapping and block and flow scalar. I believe supporting strictyaml would be better than yaml since it's too broad for start.

[2019-09-16 04:31] taiki-e commented on #25
@dtolnay: Sorry for the delay. I've updated crate based on syn 1.0 and published 0.1: https://crates.io/crates/syn-serde

[2019-09-16 06:16] #25 closed

[2019-09-16 06:18] dtolnay commented on #25
Nice! This crate is great for what I need, and the API is small and easy to understand. Thanks so much for working on this. I know it was an annoying library to write at times.

I added a link to your crate from the readme, and also filed https://github.com/taiki-e/syn-serde/issues/6 for one small issue to follow up.

[2019-09-24 01:39] pickfire commented on #20
Would it be good to add hooks in rustdoc instead of adding these to another crate? If possible, I would like to help on this.

[2019-10-05 00:39] dtolnay commented on #20
I think it would be substantially easier to experiment with this on its own outside of the main rustdoc codebase.

After there is a working product and it's something people like, we could start making a case for including it in rustdoc.

[2019-10-11 07:50] crlf0710 opened #42 "A proc macro that mirrors the functionality of the unstable `trace_macros` macro."
It may help a lot of people by moving these complexity out of the compiler, and improve it.
https://github.com/rust-lang/rust/issues/29598

[2019-10-15 16:00] eupn commented on #10
I'm on it! 🙂  WIP here: https://github.com/eupn/miniserde-derive-enum

[2019-10-15 16:20] dtolnay commented on #10
Nice! Let me know if you have questions. The miniserde serialization and deserialization APIs are unfortunately (even) more confusing than the ones in serde because recursion is such a natural way to express serializing and deserializing nested types and miniserde needs to work without recursion, but the existing miniserde struct derive code and using `cargo expand` to look at the generated code s

[2019-10-15 16:36] eupn commented on #10
@dtolnay

I've started from serialization part and have simple enums serializing with "externally-tagged" strategy:

[code]

Prints: `{"Struct":{"a":0,"b":1}}`

For those I generate a `struct`s with fields as references from currently serializing variant:
[code]

And use already implemented miniserde machinery for structs to serialize that under the tag:
[code]

To fill those `structs`, I destruct

[2019-10-15 17:01] dtolnay commented on #10
That seems good to me! I think the generics and lifetimes concerns would equally complicated with any other approach too.

[2019-10-15 17:29] eupn commented on #10
Simple serialization working 🎉:

[code]

Produces:

[code]

[2019-10-16 07:19] eupn commented on #10
Implemented struct enum deserialization 🎉! Now we can do roundtrip ser/de test:

[code]

Will print:

[code]

[2019-10-16 08:52] eupn commented on #10
Both serialization and deserialization are implemented 🎉 and following code compiles:

[code]

and prints when run:

[code]

Next thing will be the support for generics.

[2019-10-16 13:18] etwyniel commented on #10
I actually started working on this as well a few days ago at https://github.com/etwyniel/miniserde-enum.

I only support serialization for now, but in a way that more closely resembles SerDe's behavior, i.e. tuple variants serialize to arrays (or a single value), unit variants serialize to strings.
I also support different enum representations. I'm only missing adjacently tagged enums.
Generics sh

[2019-10-20 19:32] dtolnay commented on #10
Wow that's great progress! I filed a small suggestion in both. Once the crates are documented and released to crates.io, I will close out this issue.

[2019-10-25 17:42] nikomatsakis opened #43 "a procedural macro for creating extension traits"
I would like a macro where

[code]

would expand to

[code]

[2019-10-25 18:02] taiki-e commented on #43
I think [easy-ext](https://crates.io/crates/easy-ext/) is exactly the crate for this.

[2019-10-27 15:30] eupn commented on #10
@dtolnay crate is published: [miniserde-derive-enum](https://crates.io/crates/miniserde-derive-enum).

[2019-10-27 16:26] #10 closed

[2019-10-27 16:27] dtolnay commented on #10
Terrific! I have added a link from the readme. Thanks for all your work on this library!

[2019-10-27 18:54] eupn commented on #28
@dtolnay I want to give it a try. It's ok?

[2019-10-27 18:57] dtolnay commented on #28
Sounds good! Thanks for taking a look.

[2019-10-27 21:13] eupn commented on #28
@dtolnay `macrotest` repository is here: https://github.com/eupn/macrotest. I have quick-and-dirty version done and simple `macro_rules!` macro expansion test project here: https://github.com/eupn/macrotest/tree/master/test-project/tests, check it out.

[2019-10-27 22:00] eupn commented on #28
Oh, I see that you've updated the issue's description. I will update the `macrotest`'s API to resemble the `trybuild` closely.

[2019-10-28 15:58] eupn commented on #28
Updated the API to be similar to `trybuild`. https://github.com/eupn/macrotest/blob/master/test-project/tests/tests.rs

@dtolnay what should be considered as "expected failure" case of `cargo expand` invocation? Any non-success return code? Or should we add a comparison with `.stderr` file?

[2019-10-28 16:40] dtolnay commented on #28
There are no expected failures. If any cargo expand exits unsuccessful then it should fail the test.

[2019-10-29 09:47] eupn commented on #28
Published to crates.io: [macrotest](https://crates.io/crates/macrotest)

[2019-10-29 16:48] eupn commented on #28
Added [procedural macro example](https://github.com/eupn/macrotest/tree/master/test-procmacro-project). Though it has some issues ([#6](https://github.com/eupn/macrotest/issues/6), [#7](https://github.com/eupn/macrotest/issues/7)), it works.

[2019-10-29 17:33] dtolnay commented on #28
Nice, looks like a great start. I filed some issues based on trying out the crate. I think we can close out this issue once those are fixed. Thanks!

[2019-10-29 17:35] eupn commented on #28
Thanks for the thorough review! Will fix as many as possible.

[2019-10-31 16:25] eupn commented on #28
@dtolnay issues are fixed

[2019-10-31 16:39] Areredify commented on #38
I'll soon push first version of this tool to github (any thoughts on a name?), maybe you know an include and/or #[path]-heavy library to test on?

[2019-10-31 17:39] #28 closed

[2019-10-31 17:40] dtolnay commented on #28
Awesome!

[2019-10-31 17:43] eupn commented on #28
@dtolnay btw, which of your crates with macros/proc-macros (or crates that you know) would make use of this tool? I'd be happy to file a PR to some of those crates to employ `macrotest` in them.

[2019-10-31 17:43] dtolnay commented on #43
Yep, that looks like it. Thanks! https://crates.io/crates/extend is another implementation.

[2019-10-31 17:43] #43 closed

[2019-10-31 17:49] dtolnay commented on #38
`srcfiles` would be straightforward and simple.

https://github.com/dtolnay/syn uses both include! and #\[path\].
https://github.com/dtolnay/watt is another tricky one involving #\[path\].

[2019-10-31 17:53] dtolnay commented on #28
I would like to try it in Serde because the logic inside Deserialize derives can be pretty complicated to reason about. https://github.com/serde-rs/serde/issues/1117

[2019-10-31 21:13] jsgf commented on #38
Hi! Thanks for working on this!

I don't have any particular target crates in mind, and I'm fine with handling the 90% case at first and iterating thereafter (ie, if it can completely identify sources for 90% of crates, and needs some handholding for the rest, then that's a great start).

[2019-11-02 19:54] dtolnay commented on #41
Could you write up a brief example of what you would like for the caller to write and exactly what it should expand to?

[2019-11-02 19:58] dtolnay commented on #39
I'll give this a close as it seems this already exists. I would recommend filing feature requests on one of those existing projects as needed. Thanks!

[2019-11-02 19:58] #39 closed

[2019-11-02 20:00] dtolnay commented on #42
:( I don't know a good way that this would be implemented. This would be amazing to have, but I think this idea is more researchy/underspecified than I would prefer for tracking in this repo. Thanks anyway!

[2019-11-02 20:00] #42 closed

[2019-11-02 20:15] dtolnay opened #44 "Attribute macro for conditional compilation options"
Similar idea to what https://github.com/dtolnay/rustversion does for compiler version selection, but for lots of other things people want to be conditional on.

<br>

### Environment variables

Conditional compilation based on whether an environment variable is defined at build time.

For example you could use this to disable or enable specific code when building in CI:
https://docs.travis-ci.com/

[2019-11-02 20:38] Stupremee commented on #9
I will try to create a crate based on the [StrictYAML](https://hitchdev.com/strictyaml/) syntax.

[2019-11-02 20:42] dtolnay commented on #9
Sounds good. Thanks! The API design in https://github.com/dtolnay/request-for-implementation/issues/9#issue-401158316 should work just as well for StrictYAML.

[2019-11-02 22:38] Stupremee commented on #9
To make it simpler to write a parser, I thought about only implementing a super simple and minimalistic version of yaml.

These would be all the possibilities:
[code]
Would this be okay?

[2019-11-02 22:49] dtolnay commented on #9
Yes that sounds fine. If someone needs more syntax support they can extend your library.

[2019-11-05 01:44] Areredify commented on #38
I pushed first version at https://github.com/Areredify/srcfiles. I didn't test it thoroughly (I'll add tests ASAP), so it's probably not worth filing bug issues yet. Right now it should work on code that uses `mod a;` and `#[path]` only (no `#[cfg_attr]` and stuff).

[2019-11-06 06:40] Stupremee commented on #9
Should the library support serializing and deserializing?

[2019-11-06 17:05] pickfire commented on #9
@Stupremee Serializing and deserializing could be added later but it should be designed with that in mind, taking a look at serde_json and serde_cbor would help but the design of yaml-rust is way too different from those.

[2019-11-06 19:06] dtolnay commented on #9
@Stupremee⁠—Personally for this issue I really only care about one function.

[code]

Once that is in a good state, it would be reasonable to add the reverse as well. That would be as simple as `impl Display for Yaml<'_>`.

[2019-11-07 02:59] jsgf commented on #38
It also seems to have trouble with `cfg_if!` selection - I'm seeing `libc` missing some sources for example.

[2019-11-07 03:09] Areredify commented on #38
@jsgf Would you mind describing your usecase and/or possible usecases so I can write up a README? I'll open `cfg_if!` issue and I suggest to do all crate-related things in that repo's issues. Also please comment there on what kind of info you would like to see in json and/or plaintext output.

[2019-11-07 03:21] jsgf commented on #38
I'm writing a tool to generate [Buck](https://buck.build) build rules from Cargo.toml. Part of that is getting a complete list of all the sources from the crate root that the Cargo metadata exposes. Right now it is all based on globs, but with `srcfiles` I can generate a much more precise source file list. I'm using it as a library only right now.

Once comment on the `crate_srcfiles` API - return

[2019-11-09 22:18] Areredify commented on #34
I'd like to tackle this one, but from this issue I didn't understand whether popping on a `..` and doing nothing on a `.` is enough (there are some edge cases but that the gist of it). This may break symlinks, is this desired? Are there any caveats one should be aware of?

[2019-11-10 01:50] Eh2406 commented on #34
I think it is ok to brake symlinks. `\\?\C:\bar/../foo` is a valid windows path, but we don't want the folder named `bar/../foo` in `C:\`. We want the folder `foo` in `C:\`. Dose that makes sense?

[2019-11-10 18:49] Areredify commented on #34
Are https://crates.io/crates/path-absolutize and https://github.com/magiclen/path-dedot what you need?

[2019-11-15 22:09] Eh2406 commented on #34
Thanks for the links. Now that I have had time to read it carefully... I don't know. `path-absolutize` does not use `GetFullPathNameW`, witch is grate for cross compat, but makes me nervous that it will differ from the OS behavior. Neither crate has tests for UNC paths or cases of mixtures of `/` and `\`. From the examples and skimming the code I don't know how well it handles non-unicode data, bu

[2019-11-19 14:25] etwyniel commented on #10
For whatever it's worth, I finally got around to publishing [my crate](https://crates.io/crates/miniserde-enum), after adding deserialization for most enum representations (haven't quite figured out how to deserialize untagged enums yet).

[2019-11-19 14:27] eupn commented on #10
@etwyniel good job!

[2019-11-26 15:56] pickfire commented on #7
[code]

Is the extra `z` a mistake?

[2019-11-26 18:47] dtolnay commented on #7
It is not a mistake.

No, that code is wrong because the correct deserialized value would contain `"hello\nworld"` not `"hello\\nworld"`.

[2019-11-27 23:19] pickfire commented on #7
Ah, so there is a reduction of `\` in place.

But the mistake I mean is the additional `z`. Why would `xyz` becomes `xyzz`?

[2019-11-27 23:25] dtolnay commented on #7
`xyz` doesn't become `xyzz`. Instead `nxyz` becomes `xyzz`. The original `z` stays in place because anything else would require more movement of data in memory (4 bytes instead of 3 bytes).

[2019-11-27 23:43] dtolnay commented on #7
The caller provides memory that has this as a subslice:

[code]

and JSON deserialization must shuffle bytes in some way to produce:

[code]

so as you can see we don't need to modify more bytes outside of that.

[2019-11-28 01:30] pickfire commented on #7
Ah, I thought we are going to shift all the bytes from the right because the last `z` would be unused. Is it useful? Imagine having a lot of newline in a string, I know memory it cheap but any use case with that?

I believe maybe like this? ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=39bb10060b3bcecb9d01e41a9dbffe16))
[code]

[2019-11-28 01:54] dtolnay commented on #7
No, we shouldn't move around more bytes than necessary. That's more work. It doesn't save memory. The whole input buffer needs to outlive the deserialized object anyway.

[2019-11-28 02:39] dtolnay commented on #7
I think the right amount of copying in the example would be the equivalent of:

[code]

[2019-11-28 15:44] pickfire commented on #7
@dtolnay I don't think that matters, for me I believe reducing one `offset` operation makes it faster? Maybe a benchmark will tell. (of course we could do it in two pass like simd json to make it faster)

Either way, how should one get started on this?

[2019-11-28 17:51] dtolnay commented on #7
https://serde.rs/impl-deserializer.html would be the best place to start, and modify the implementation to take &mut str and process escaped strings in place. Once the basics work, you could pull in some of the number parsing from serde_json that isn't in the example code and then put together some benchmarks.

[2019-12-05 07:59] astaninger commented on #20
I would like to give this a shot, if it hasn't already been done

[2019-12-09 19:12] pickfire commented on #7
@dtolnay I tried building on top of `SliceRead` from `serde-json` in which the slice now becomes `slice: &'a mut [u8]` but I am stuck in lifetime problem. It took me quite some time to figure out the logic through trial and error, so confusing. When I uncomment https://github.com/pickfire/json/blob/544b50e6c6270abbdea6d1d93deffb0afd02987a/src/read.rs#L671-L672, it shows:

[code]

Any idea to solve

[2019-12-13 17:07] pickfire commented on #7
Thanks to alice in https://users.rust-lang.org/t/help-about-multiple-mutable-borrows/33494/8?u=pickfire, I found using `transmute` to transmute the lifetime which cannot be inferred useful to solve this issue. About safety, I believe the reference is valid for as long as `'a` but not 100% sure.

@dtolnay I believe you can take a look at the prototype now at https://github.com/pickfire/json/commit/

[2019-12-15 01:26] dtolnay commented on #7
I've only skimmed the code, but it looks like a good start.

This looks problematic though:

[code]

For a valid JSON input containing no escape sequences other than `\n`, it gives back a &str containing bytes that are not valid utf8, which is undefined behavior.

[2019-12-15 16:40] pickfire commented on #7
Is that because I have yet add the other escapes? https://github.com/pickfire/json/commit/6bd0238645f6b880dc6770a5c127c5d340335734#diff-f400f58d5e78694b93db5d4fe5f2a246R681

[code]
Not a single `\n` (fail in mine either) but the above works, maybe just because I have yet implemented the rest.

[2019-12-16 01:08] dtolnay commented on #7
No I don't think that is the reason. The input string in my repro is "\n☃" which only contains one escape.

[2019-12-17 05:21] crlf0710 commented on #41
Admittedly i've not got enough knowledge to come up with a design on this... I hope others can come up with a detailed design.

[2019-12-17 05:26] crlf0710 opened #45 "A golang-style iota macro."
Not really sure how useful is this. Just an idea at the moment.
There's an outdated nightly crate with similar functionality at https://github.com/Popog/iota-rs .
Example:
[code]

[2019-12-17 05:27] dtolnay commented on #41
I'd like to keep this repo focused just on ideas that are blocked on implementation work and not design work, so I will go ahead and close this for now. Let's follow up once there is a more fleshed out design for what you want.

[2019-12-17 05:27] #41 closed

[2019-12-17 23:53] pickfire commented on #7
Yes, even just a single `\n` (1 char) fails because I don't manage those yet except `\n` (2 char).

[2019-12-18 00:39] dtolnay commented on #7
To clarify, my repro contains `\` followed by `n` followed by `☃`. There are no escape sequences other than \n, and there is no newline character which isn't legal in a JSON string anyway. I believe this is exactly the case you are saying you already handle, but it is producing undefined behavior.

Heads up that I am going to step away from this issue for a while because I am swamped with other th

[2019-12-22 19:01] pickfire commented on #7
@dtolnay I fixed the snowman bug, I forgot to ignore the memory before the first `\` and forgot to move the memory before the closing `"`. Can you please help to check again? I tested both `☃\n` and `\n☃` and also reduced down to 3 unsafe lines (2 lines are duplicated).

[2019-12-25 14:25] jonasbb commented on #7
@pickfire I don't think the snowman bug is fixed in revision [2e4b6b08650b41582430ca004b190b57e0a69c2e](https://github.com/pickfire/json/commit/2e4b6b08650b41582430ca004b190b57e0a69c2e).
Let me try to explain the issue a bit differently, maybe this will help you.

The issue at hand is, that your code modifies the byte array of the `String` in a way, that the remaining bytes after the deserializati

[2019-12-25 15:04] pickfire commented on #7
@jonasbb Wow, thanks a lot for reviewing this. Nice.

Now I know, I did not notice the **always**, I thought keeping the remaining bytes are still good based on the initial design.

How do you generate that? It is troublesome for me to compare byte by byte by remembering the numbers.

Yup, I noticed the last `'â'`.

The reason I did that is that I do not know how to represent it in valid UTF-8 (an

[2019-12-25 15:22] jonasbb commented on #7
The original design in the first post only shows the ASCII subset of Unicode. Here, each codepoint is encoded in a single byte and any shifting modifications will still leave it as valid ASCII. The problem occurs with characters outside of the ASCII subset, which require 2-4 bytes in UTF-8, since here chopping of the beginning or end of the encoded codepoint leads to invalid UTF-8.

The numbers I

[2019-12-25 15:27] pickfire commented on #7
Patch updated with zero filling the extra bytes. https://github.com/pickfire/json/commit/e4f7b208ea22ff69169c3cbeed06032f0f9ca532

Feel free to check on it. After that, I will get on with the others `'\'`.

[2019-12-26 02:29] dtolnay commented on #45
I am going to close this because I would like to keep this repository focused on worthwhile ideas that someone is looking forward to using as soon as an implementation exists, and as you said it's unclear that an iota macro would be useful in Rust.

[2019-12-26 02:29] #45 closed

[2019-12-26 02:29] dtolnay commented on #45
FWIW https://github.com/dtolnay/iota has my old implementation of iota that does not rely on plugins.

[2019-12-26 02:35] dtolnay commented on #30
I am going to close this out, and @lgarczyn and others can follow up in the issue tracker of https://github.com/BrandtM/cargo-example with any further feature requests.

Thanks @BrandtM!

[2019-12-26 02:36] #30 closed

[2019-12-28 16:48] pickfire commented on #7
@jonasbb https://github.com/pickfire/json/commit/cca94549502250725faa22ed41f7df1c970215fd Added the rest, interested to check it out? I think just left the test and maybe some code clean up.

[2020-01-01 02:37] pickfire commented on #7
Doing some fuzzing leads me to some issue with array indexing.
[code]
https://github.com/pickfire/json/commit/21379e3b39e8194dd1f16b3e08c8feea6862a3ab#diff-f400f58d5e78694b93db5d4fe5f2a246R698 should we check if each the specified index exist first before matching? Not sure if that impacts the performance.

[2020-01-02 15:28] pickfire commented on #7
Comparing the performance of benchmark recently. Looks like `from_mut_str` is kinda faster but does not seemed significant (~2%), maybe need to do some more tweaking.
[code]

[code]

[2020-02-11 18:28] nathanwhit commented on #9
@dtolnay I noticed this has been sitting for a while, so I decided to pick this up. The repository with my work up to this point is [here](https://github.com/nathanwhit/minimal-yaml). Support for the bare-bones syntax you described is already implemented, and I do have a basic level of testing (~40 unit tests, but I plan to add more). I haven't published the crate yet, as I feel it needs a bit mor

[2020-02-13 14:39] crlf0710 opened #46 "Safe placement new as a library"
Assume we have
[code]
and `let mut v = MaybeUninit::uninit();`
design a macro called `init`, when invoked as
`init!(v, T { s: S { a: f1 }, t: [f2; 5] }, f1 = foo(true), f2 = foo(false));`, it gets expanded into:

[code]

The key points is that there's no panicking possibility within the unsafe region. And compiler is about properly check about the `Copy`-ability of `f2`.

This serves as basis of h

[2020-02-14 12:01] NilsIrl commented on #9
How would someone that needs these "non-minimalist features" do?

[2020-02-14 16:19] pickfire commented on #9
@NilsIrl YAML is complicated, last time I tried implementing I was surprised how different YAML libraries got different results for different edge cases. I think StrictYAML may be a better and stricter spec and easier to follow with minimalist features.

[2020-02-14 16:53] NilsIrl commented on #9
I understand that very well, but if this is supposed to replace https://github.com/chyh1990/yaml-rust for https://github.com/dtolnay/serde-yaml then it can be problematic.

[2020-02-23 08:13] crlf0710 opened #47 "Modules defined by combining multiple files."
Define a proc macro that collects and combines multiple sources into a single module.
[code]

got expanded into (with proper `Span`s if possible):

[code]

[2020-02-23 13:07] pickfire commented on #7
@dtolnay The current implementation is unsound where it have a footgun such that it will have undefined behavior if people try to deserialize it twice (probably no reason to do it but it is troublesome once they do it), should we make it unsafe for this? Is there anyway to take ownership of the string and prevent people from calling the function twice?

[2020-02-23 16:30] CreepySkeleton commented on #47
What it would be useful for?

[2020-02-23 19:14] dtolnay commented on #47
I think any implementation of this would destroy all the spans, so I am skeptical that a macro would be worthwhile.

[2020-02-23 19:14] #47 closed

[2020-02-23 19:15] dtolnay commented on #47
A workaround would be to write:

[code]

[2020-02-25 17:03] crlf0710 commented on #47
that's a little different, with the current visibility rules, some arrangement needs to be done in a.rs and b.rs to make them work together. (Additional `use`s, for example.) But it will mostly work.

Too bad `Span` referring to external files cannot be created. I left a ticket in https://github.com/rust-lang/rfcs/issues/2869 .

[2020-03-02 02:06] dtolnay commented on #7
Can you share some sample code that demonstrates the undefined behavior?

[2020-03-02 05:55] pickfire commented on #7
Just do the same thing twice. Code below not tested but shows a rough idea.
[code]

But you see the difference for `from_str` and `from_mut_str` in https://github.com/serde-rs/json/pull/627/files#diff-afb2ab3fe17077dcacb9d8b9f1546945R14-R50 which I have issues when I was writing the benchmarks, reusing the same data for deserialization. Just remove the `clone` in  https://github.com/serde-rs/json/

[2020-03-02 06:15] dtolnay commented on #7
I don't understand why that would lead to undefined behavior. The second call would probably return an error because the string is no longer valid JSON, but that's fine.

[2020-03-02 06:53] pickfire commented on #7
Wait, I meant an error (now I am wondering if that issue happens before I pad the extra data with 0 to prevent invalid unicode characters) but yes it may still be unexpected.

[2020-03-02 07:02] dtolnay commented on #7
Potentially returning errors wouldn't be a reason to make a function unsafe.

[2020-03-16 01:09] pickfire commented on #7
@dtolnay Thanks for the review. But how should I start with a separate crate? Do I just implement the same things I did for the serde-json crate?

[2020-06-21 22:55] #38 closed

[2020-06-21 22:57] dtolnay commented on #38
I've closed this out with a link to https://github.com/Areredify/srcfiles. Thanks all! We can follow up with any remaining feature requests in the issue tracker there.

In particular, @Areredify it would be good to get the tool published to crates.io at this point (https://github.com/Areredify/srcfiles/issues/6).

[2020-06-21 23:17] dtolnay opened #48 "Data format adapter to expose control over the representation of bytes"
Human readable formats tend not to include a universally agreed way to represent arbitrary binary data, which means those serde libraries can end up using a representation for serde's "bytes" type which isn't ideal for all uses.

Three examples:

[code]

[code]

It would be good to have an adapter which one can wrap around a Serde serializer or deserializer to make it use a different underlying re

[2020-06-22 07:47] jethrogb commented on #48
I think we considered this approach before doing https://github.com/serde-rs/json/pull/656 an ran into some issues. However, it does seem like a wrapper should work. @jseyfried?

[2020-06-22 09:19] jethrogb commented on #48
I believe the proposal is not possible. Implementations of `Deserializer` will have implementations of `SeqAccess` (and equivalent traits) in which the implementation of `next_element_seed` calls `seed.deserialize(some_deserializer)`. See e.g. https://github.com/jethrogb/serde_json/blob/d133748/src/de.rs#L1735. The adapter would need to be able to wrap `some_deserializer`, but it can't.

[2020-06-22 14:32] dtolnay commented on #48
Not clear why it couldn't wrap that. Check out these existing deserializer adapter libraries:

- https://github.com/palantir/serde-encrypted-value
- https://github.com/dtolnay/serde-stacker
- https://github.com/dtolnay/path-to-error
- https://github.com/dtolnay/serde-ignored

For example next_element_seed is wrapped here in one of them: https://github.com/dtolnay/serde-stacker/blob/9f19950f4490fc1

[2020-06-22 23:38] cfsamson commented on #48
Are you thinking something along the lines of the example in this gist: https://gist.github.com/cfsamson/18009ca988ab1405b6ea6aaac819aed6
(I only created an example for serialization to see if I got the idea right)

This would support a fixed set of encoders/decoders for example base64, hex, [Uuencoding?](https://en.wikipedia.org/wiki/Uuencoding) etc.

One thing I couldn't get working was serializ

[2020-06-23 00:34] dtolnay commented on #48
That is in the right direction but you need an implementation of serialize_struct and many of the other methods. Currently you've serialized structs exactly the same as the underlying serializer.

Refer to https://github.com/dtolnay/serde-stacker/blob/0.1.4/src/ser.rs for an example of propagating custom behavior to struct fields correctly.

[2020-06-23 09:18] cfsamson commented on #48
Yeah, that's a good reference implementation. I've always wanted to dive a bit more into both generics and Serde. This looks like a good opportunity to do that, so I'd be happy to take a stab at this and try to get something working.

[2020-06-23 09:20] jethrogb commented on #48
@cfsamson We're intending to port over https://github.com/serde-rs/json/pull/656 to this design.

[2020-06-23 11:05] cfsamson commented on #48
@jethrogb Ah, ok. Well, I've implemented a working serializer here https://github.com/cfsamson/rfi-serde-byte-repr, and I thought I'd check in before I went any further. I'm not sure if this still have any value for other serializers (toml, yaml) though.

[2020-06-23 22:55] cfsamson commented on #48
@dtolnay I might have jumped the guns a bit by finishing an implementation without waiting for any discussion. If so that's on me, but sometimes it's hard to stop.

I recon this might still be useful for toml/yaml (de)serialization even though there are ongoing discussions on how to handle this in `serde_json`.

It could do with more tests though and ideas for good test cases is very welcome.

I h

[2020-06-25 10:24] jethrogb commented on #48
@cfsamson can you create an empty branch in your repository and then file a pull request from master into that branch? That would make it easy to leave review comments.

[2020-06-25 11:19] cfsamson commented on #48
@jethrogb Sure. You can find the PR here: https://github.com/cfsamson/rfi-serde-byte-repr/pull/1

[2020-06-25 14:34] cfsamson commented on #48
@jethrogb So, I found a way to make this easy to review, but it included creating a new repository, so you can take a look here: https://github.com/cfsamson/serde-byte-repr/pull/1

[2020-07-04 03:41] lzutao opened #49 "A new linker in Rust"
A faster linker may improve compile time of Rust.
There are experimental on integrate lld as default default linker for Rust, which is tracked at https://github.com/rust-lang/rust/issues/39915.
But `lld` has it own problems: https://github.com/rust-lang/rust/issues?page=2&q=is%3Aissue+is%3Aopen+lld+label%3AA-linkage

I don't know how hard it be to implement a cross-platform linker. But this may be

[2020-07-04 23:34] dtolnay commented on #49
A brand new cross-platform linker is a bigger project than I would prefer to track in this repo. Thanks anyway!

[2020-07-04 23:35] #49 closed

[2020-07-05 06:10] ssokolow commented on #48
I'd prefer to have a bytestring representation for `PathBuf`s that leaves them human-readable in the 99% of cases where they don't contain invalid UTF-8.

In an attempt to follow the principle of least surprise, I cooked up an encoding scheme for my own use which works by using `\0` (which the JSON spec requires support for but which is only allowed in paths in the NT kernel object manager, where

[2020-07-05 11:18] dtolnay commented on #9
@nathanwhit it looks like the feedback I filed on https://github.com/nathanwhit/minimal-yaml were mostly resolved. Any plan on what polish or testing are missing still before it would be released?

[2020-07-05 21:03] nathanwhit commented on #9
@dtolnay I'm comfortable releasing it in its current state. I wouldn't be *too* surprised if there are some edge cases being handled improperly, but there shouldn't be any major issues at this point. I've gone ahead and published the crate [here](https://crates.io/crates/minimal-yaml).

[2020-07-12 00:50] mtkennerly commented on #44
@dtolnay Hi! I just published a crate called [Realia](https://crates.io/crates/realia) that implements these:

[code]

Let me know what you think \:D

I really wanted to implement checks for dependencies as well (installed, exact version, version since, version before), but I don't think it's possible for Realia's proc macros to discover the dependencies of a crate using Realia. If I check the cra

[2020-07-12 06:28] dtolnay commented on #44
Awesome! I will add a link from the readme here. Thanks for putting this together.

I don't know a way to inspect the downstream crate's dependencies either.

[2020-07-12 06:28] #44 closed

[2020-07-13 17:44] mtkennerly commented on #44
Follow-up: Thanks to a suggestion I received, I was able to figure out a way to add checks for dependencies as well! [More info here](https://github.com/mtkennerly/realia/issues/2#issuecomment-657696497).

[2020-07-16 00:40] cfsamson commented on #48
@dtolnay Any idea on how/if we can move this forward?

I've created a working implementation in line with the initial proposal (AFAIK).

@ssokolow If I understand correctly you want to special case `OsString` so it's serialized to a readable format. I'm not sure if that's something that should go in this project since it's specifically about handling the representation of bytes. Converting bytes t

[2020-07-16 01:05] dtolnay commented on #48
I will close out this issue with a link to that repo. We can follow up on any further feature work in the issue tracker over there!

If you find @ssokolow's custom encoding scheme compelling then that would be implementable as one of the ByteFormat options in serde-byte-repr.

[2020-07-16 01:05] #48 closed

[2020-07-16 01:29] cfsamson commented on #48
Sounds good. Please link to https://github.com/cfsamson/rfi-serde-byte-repr, the other repo was one I crated to make the codebase easier to comment on and will get deleted.

[2020-07-16 01:45] dtolnay commented on #48
Looks like that is the one I linked to.

[2020-07-16 05:00] ssokolow commented on #48
@cfsamson I want to ensure that `PathBuf` gets serialized in human-readable form while resolving the current issue that paths which can only be represented by `OsString` cause serialization to fail. I think that's a reasonable goal since 99%+ of paths are valid as `String`s.

It's also in line with the current behaviour, which treats it as a `String` and fails if it contains non-UTF-8 bytes. I lik

[2020-07-16 19:48] cfsamson commented on #48
@ssokolow I see, well, as suggested that can be implemented as an option on `ByteFormat` which now only supports Hex and Base64, maybe there can be an option called `ReadablePaths` or something like that (I have no good name for this).

If you're willing to publish a crate with this encoding scheme with an API like the Base64 crate for example it would be only a few lines of code to add that optio

[2020-07-17 14:53] ssokolow commented on #48
Sounds good. For the last few days, I've had to pour all my effort into preparing for some hard drive replacements and overdue upgrades, but I'll leave this on my TODO list.

[2020-07-17 18:31] cfsamson commented on #48
Great. The crate is now published: https://crates.io/crates/serde-bytes-repr

[2020-08-14 21:44] SeeSpring commented on #46
I have a implementation at https://github.com/SeeSpring/placement_new_macros. I'm not sure that there's a way to make this safe since if the user passes in a packed struct the macro will create unaligned references.

[2020-08-21 04:30] MOZGIII opened #50 "A marker to allow compile-type checks for when the uniquely serializable representation in required"
Sometimes you want to build a data structure that, when serialized, in guaranteed to have the same representation for the same data.

An example of this would be a [BitTorrent protocol](https://wiki.theory.org/BitTorrentSpecification#Metainfo_File_Structure): there's an `info` dictionary that's serialized via bencode (this lives in `.torrent` files and describes the contents of a torrent file), an

[2020-08-21 04:37] MOZGIII commented on #50
This has a relation to the `Hash` marker from the `std`. This is different, in that it specifies the properties for the serialized value, not the in-memory representation.

[2020-08-29 14:18] ajeetdsouza commented on #34
I saw a post related to this on Reddit recently, and I'd like to try implementing this.

@Eh2406 @dtolnay could you have a look at my repository (https://github.com/ajeetdsouza/pathology) and tell me your initial thoughts? I've currently only written an implementation for Windows, but I'm working on one for Linux too.

The only function I've implemented is `normalize`, which lexically converts the

[2020-08-29 18:10] ajeetdsouza commented on #34
Update: I've added `normalize` on Unix, too.

[2020-09-11 21:48] Eh2406 commented on #34
@ajeetdsouza sorry for the slow reply. That looks like a great start on a answer to the question "I use `your_thing(&std::fs::canonicalize(...))` and it broke, what should I use instead?" I look forward to having that in our arsenal. Thank you!

@retep998 may be able to revue the windows api calls better than I.

[2020-10-09 05:43] Kestrer opened #51 "Idiomatic Rust bindings to the winapi"
`winapi_util` and `winapi_easy` cover small portions of it, but we have yet to see a fully covered set of bindings à la [Nix](https://crates.io/crates/nix). It should wrap raw handles in more specific types, and save users from having to use `unsafe`.

[2020-10-18 10:43] pksunkara commented on #34
Related note for others, [dunce](https://lib.rs/crates/dunce) is an alternative to `fs::canonicalize`.

[2020-11-09 15:24] dylni commented on #34
[normpath](https://crates.io/crates/normpath) can now be used to solve this issue. It defines [`BasePath`](https://docs.rs/normpath/0.1.0/normpath/struct.BasePath.html), which is very similar to `SanePath`, and [`PathExt::normalize`](https://docs.rs/normpath/0.1.0/normpath/trait.PathExt.html#tymethod.normalize) can be used for normalization.

It would be great if @retep998 could review this crate

[2020-11-19 23:14] dylni commented on #34
@Eh2406 What would be the next steps for integrating this into Cargo?

[2020-11-20 16:16] Eh2406 commented on #34
Last time I had this paged in https://github.com/rust-lang/cargo/issues/6198 was the best link. Looks like we just got a related PR https://github.com/rust-lang/cargo/pull/8874, so coordinating my make sense. Another good place to start would be to grep for `canonicalize` in the code base. Sorry I don't remember this stuff better.

[2020-11-20 22:17] dylni commented on #34
@Eh2406 Thanks. I'll start looking through where the path handling can be improved

[2020-12-15 17:30] RReverser commented on #19
I'm not sure this issue is supposed to be closed, as the suffix part is not yet implemented anywhere (AFAIK).

[2020-12-22 00:10] sanbox-irl commented on #9
@dtolnay how are we doing on this?

[2021-01-16 04:04] mazznoer commented on #12
Hope I am not too late. Using [colorgrad](https://github.com/mazznoer/colorgrad-rs) we can do something like this easily. There is lot of preset gradients, and we can create custom gradient too.
[code]

[2021-03-09 21:38] uint commented on #17
I figured this would be a great way to dig into proc macros, so I played around with it a bit. Who'd guess I'd have a PoC so soon: https://github.com/uint/serbia

For now, it only works on structs (tuple or regular). I guess I'm on it!

[2021-03-10 06:30] est31 commented on #17
serde_with has also recently gained big array support: https://github.com/jonasbb/serde_with/pull/272

Their MSRV is 1.51.

Support is a bit more comprehensive than serde-big-array. I need to investigate if there is a reason to keep serde-big-array around or whether I should deprecate it in favour of serde_with.

[2021-03-11 17:47] uint commented on #17
So I've been looking at implementing this thing:

[code]

I can parse `BUFSIZE` as a `syn::ExprPath` or just a `syn::Path`, but I'm not sure there's a way to get the value of the underlying constant at macro expansion time. I've read somewhere that constants are evaluated **after** macro expansion. Is there some trick to this?

[2021-03-25 15:49] uint commented on #17
@dtolnay I've been hacking at this. At this point, I think [Serbia](https://github.com/uint/serbia) is pretty usable, but would love feedback.

[2021-07-09 08:09] ZigRazor commented on #2
I will implement this feature soon in my [repo](https://github.com/ZigRazor/dtd2rust). Follow and watch for update.

[2021-08-10 08:37] songww commented on #2
A simple implementation of this [dtd-rs](https://github.com/songww/dtd-rs)

[2021-10-29 23:19] qm3ster commented on #9
I would like to note that StrictYAML actually doesn't allow **"flow style"** (other than in `dirty_load` mode, which also allows and interprets **"node anchors and refs"**), so the following would not be valid:
[code]
I wonder if this means that in non-`dirty_load` mode there are less characters that have to be avoided in strings.
Will I finally be able to write
[code]
unquoted?
[code]
Currently,